body {
  max-width: 1250px;
  background-color: bisque;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: lightgreen;
  padding: 25px;
  font-size: 1.25em;
  border-radius: 25px;
}

.hero-container button {
  background-color: aqua;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
}
.hero-container img {
  width: 100%;
  height: 400px;
  border-radius: 25px;
}
