body {
  max-width: 1150px;
  /* background-color: beige; */
  margin: 0 auto;
}

.card-section {
  text-align: center;
}

.card-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  border: 2px solid sandybrown;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.204);
}

.card:hover {
  background-color: rgba(167, 156, 156, 0.197);
}

.card h3 {
  font-size: 1.25em;
  font-weight: 700;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card button {
  background-color: aqua;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1em;
  cursor: pointer;
}
