* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #006a50;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #006a50;
  background-color: white;
}

.btn-2 {
  border: 1px solid #006a50;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  font-size: 16px;
  background-color: #006a50;
  padding: 13px 25px;
}
header {
  background-color: rgb(105, 255, 250);
  padding: 0 160px;
  margin-bottom: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

nav h2 {
  background: linear-gradient(90deg, green 0%, red 100%);
  background-clip: text;
  color: transparent;
  font-size: 35px;
  font-weight: bold;
}

nav .menu-list {
  display: flex;
  gap: 35px;
}

.menu-list li a {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

/* Hero section */
.hero-section .container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background-color: rgb(177, 255, 252);
  margin: 20px 160px;
  padding: 0px 0px 30px 0px;
  border-radius: 10px;
}

.hero-section .left-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 25px;
}

.left-hero h2 {
  font-size: 26px;
  font-weight: 600;
  color: rgb(73, 73, 73);
}

.left-hero p {
  font-size: 45px;
  font-weight: 700;
  color: rgb(73, 73, 73);
  margin: 15px 0 20px;
}
