* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #006a50;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #006a50;
  background-color: white;
}

header {
  background-color: rgb(205, 255, 253);
  padding: 0 160px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

nav h2 {
  background: linear-gradient(90deg, green 0%, red 100%);
  background-clip: text;
  color: transparent;
  font-size: 35px;
  font-weight: bold;
}

nav .menu-list {
  display: flex;
  gap: 35px;
}

.menu-list li a {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
