#para01 {
  margin: 30px;
  padding: 30px;
  border: 4px solid red;
  border-radius: 20px;
}

#para02 {
  margin: 30px 40px;
  padding: 30px 40px;
  border: 4px solid green;
  border-radius: 25px;
}

#para03 {
  margin: 10px 20px 30px;
  padding: 10px 20px 30px;
  border: 4px solid orangered;
  border-radius: 30px;
}
