* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared style */
.color-orange {
  color: rgb(254, 90, 30);
}

.btn {
  background-color: rgb(254, 90, 30);
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 35px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.section-heading {
  max-width: 825px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  color: #565656;
  margin-bottom: 30px;
  line-height: 30px;
}

header {
  background-color: #fff8f3;
  padding-top: 50px;
  background: url(../images/header_bg.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 75%;
  max-width: 1150px;
  margin: 0 auto;
  align-items: center;
}

.logo h2 {
  font-size: 45px;
  font-weight: bold;
}

nav .menu {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}

nav .menu li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 500;
}

#banner {
  margin: 45px 38px 0px 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner img {
  max-width: 550px;
  vertical-align: middle;
}

#banner .banner-content {
  max-width: 550px;
  margin-right: 150px;
  margin-top: 150px;
}

#banner .banner-content h2 {
  font-size: 40px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1 {
  font-size: 65px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 18px;
  color: #565656;
  margin-bottom: 30px;
}

#about,
#skills,
#resume {
  padding-top: 130px;
}
#about .about-container {
  width: 75%;
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 130px 155px 55px;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p {
  font-size: 20px;
  line-height: 30px;
  color: #565656;
}

.about-info .info-card h4 {
  font-size: 20px;
}

#skills .skill-container {
  width: 75%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 100px 150px;
}

.skill-container .skill-box {
  display: flex;
  gap: 25px;
}

.skill-box .skill-card {
  padding: 30px;
  max-width: 240px;
  box-shadow: 0px 6px 45px 0 rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.skill-card img {
  max-width: 45px;
  margin-bottom: 30px;
}

.skill-card h3 {
  font-size: 22px;
  color: black;
  margin-bottom: 20px;
}

.skill-card p {
  font-size: 16px;
  color: #565656;
  line-height: 25px;
}

#resume .resume-container {
  width: 75%;
  max-width: 1150px;
  margin: 130px auto 0;
  display: flex;
  justify-content: space-around;
  gap: 25px;
}

.resume-container hr {
  margin: 30px 0;
}

.resume-container .section-title {
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}

.resume-card {
  max-width: 510px;
  margin-right: 45px;
}

.resume-card .card-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #474747;
}

.resume-card .card-info {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #565656;
}

.resume-card .card-info {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #565656;
}
