.blog {
  background-color: lightpink;
}

h2 {
  text-decoration: underline double;
}

#blog2 {
  background-color: lightblue;
  /* display: none; */
  /* visibility: hidden; */
}

#minima {
  color: red;
  border: 2px solid purple;
  margin: 30px;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: block;
}

li {
  display: inline;
}
