.article {
  border: 5px solid black;
  background-color: lightpink;
  margin: 40px;
  width: 500px;
  box-shadow: 20px 20px 5px grey;
}

.header {
  height: 500px;
  background-color: lightgreen;
  /* background-image: url(coder.jpg); */
  background-image: url(../images/coder.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: left;
}
